html {
  font-size: 10px;
  background-color: #000000;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  display: block;
}

head {
  display: none;
}

h1 {
  font-size: 4rem;
  text-align: left;
  color: #fa6322;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1, h2, h3 {
  color: #fa6322;
}

body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }