html {
  background-color: #000000;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  display: block;
}

head {
  display: none;
}

h1 {
  font-size: 20rem;
  text-align: left;
  color: #fa6322;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2, h3 {
  color: #000000;
}

nav {
  height: 50px;
  background-color: #fa6322;
  display: flex;
  margin-bottom: 10px;
}

nav, aside, footer {
  background-color: #fa6322;
  padding: 1%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: none;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

form {
  display: block;
  margin-top: 0em;
}

input[type="search"] {
  flex: 3;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  padding: 1px 2px;
}

input {
  writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-variant-alternates: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  font-optical-sizing: ;
  font-kerning: ;
  font-feature-settings: ;
  font-variation-settings: ;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  border-image: initial;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #000000;
  border: 0;
  color: white;
}

input[type="submit" i] {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  color: buttontext;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

main {
  display: flex;
  display: block;
}

article {
  flex: 4;
  display: block;
  background-color: #FFFFFF;
}

h2 {
  font-size: 9rem;
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  font-size: 5rem;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #fa6322;
  display: block;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
  display: block;
}

body {
  width: 70%;
  margin: 0 auto;
  display: block;
  margin: 8px;
}
