html {
  font-size: 10px;
  background-color: #ef5411;
}

html, body {
  margin: 0;
  padding: 0;
}

html[Attributes Style] {
  -webkit-locale: "en-us";
}

:root {
  view-transition-name: root;
}

html {
  display: block;
}

body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }